@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700;900&display=swap");
/* @import url("https://cdn.rawgit.com/ahmedmontaser12/crazynet/89a2750a/Bukra-Font.css"); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #fff;
    font-family: "Montserrat";
}
.hero {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: url("https://sanid.org/content/uploads/2020/07/3.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}
.top-menu {
    height: 40px;
    background-color: #fe9128;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    text-transform: capitalize;
    font-weight: 300;
    font-size-adjust: 12px;
}
a {
    text-decoration: none;
}
.top-menu ul {
    display: flex;
    list-style: none;
}
.top-menu .donation {
    margin: 0 20px;
}
.top-menu .donation li {
    margin: 0 20px;
    position: relative;
}
.top-menu .welcome p {
    font-size: 13px;
    font-weight: 400;
}
.top-menu .welcome p svg {
    font-size-adjust: 16px;
    margin-right: 5px;
    color: #777;
}
.top-menu .donation li:nth-of-type(1)::after,
.top-menu .donation li:nth-of-type(2)::after {
    content: "/";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
.top-menu .donation a {
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.top-menu .social {
    margin-left: auto;
}
.top-menu .social li {
    margin: 0 10px;
}
.top-menu .social svg {
    cursor: pointer;
}
.menu {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.055);
    background-color: rgba(255, 255, 255, 0.699);
    text-transform: capitalize;
}
.menu .logo img {
    width: 150px;
}
.menu nav {
    width: 70%;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu a {
    color: #043762;
    font-size: 14px;
    font-weight: 400;
}
/* .bottom-label {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.bottom-label img {
    width: 200px;
}
.bottom-label .org-title {
    text-align: center;
    color: #043762;
}
.bottom-label .org-title h1 {
    font-size: 50px;
    font-family: "Bukra";
    font-weight: bold;
} */
.hero-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 5px #043762;
}
